@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tahoma Geneva", sans-serif;
}

body{
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    background: rgb(246, 224, 195);
    background-size: cover;
    background-position:center ;
}

.wrapper{
    width: 420px;
    background: burlywood;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: rgb(70, 31, 31);
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: rgb(70, 31, 31);
}

.bxs-coffee-bean{
    position: absolute;
    margin: 0 160px;
    color: rgb(70, 31, 31);
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width : 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius:  40px;
    font-size: 16px;
    color: rgb(70, 31, 31);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: rgb(70, 31, 31);
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.button{
    width: 100%;
    height:  45px;
    background: rgb(70, 31, 31);
    border: none;
    outline: none;
    border-radius:  40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: white;
    font-weight: 600;
}

